name: Build

on:
  workflow_dispatch:
    inputs:
      type:
        type: choice
        description: Backend or Frontend
        options:
          - backend
          - frontend
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
  group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
  cancel-in-progress: true

jobs:
  changes:
    runs-on: ubuntu-latest
    # Required permissions
    permissions:
      pull-requests: read
    # Set job outputs to values from filter step
    outputs:
      backend: ${{ steps.filter.outputs.backend }}
      frontend: ${{ steps.filter.outputs.frontend }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            backend:
              - 'interaction-service/**'
              - 'post-service/**'
              - 'user-service/**'
              - 'common/**'
              - 'pom.xml'
            frontend:
              - 'blogit-frontend/**'

  backend:
    needs: changes
    if: needs.changes.outputs.backend == 'true' || github.event.inputs.message == 'backend'
    uses: ./.github/workflows/reusable-java-build.yml

  frontend:
    needs: changes
    if: needs.changes.outputs.frontend == 'true' || github.event.inputs.message == 'frontend'
    uses: ./.github/workflows/reusable-npm-build.yml
    with:
      node-version: '23.7.0'
